body{
 background-color:black;
}


img{
	padding-left: 20vw;
}

.ico{
	background-color: white;
	width: 20vw;
}
.btn-holder{
	justify-content: center;
	display: flex;
}

button{
    color: white;
    font-weight: bolder;
    font: cursive;
    background-color: #0000ffff;
    height: 10vh;
    width:100vw;
    cursor: pointer; 
}
button:hover {
	background-color: #555;
}
#myBtn {
position: relative;
  bottom: 20px; 
  z-index: 99; 
  border: none; 
  outline: none; 
  background-color: red; 
  color: white; 
  padding: 15px;
  border-radius: 10px;
  font-size: 18px; 
}
