body{
 background-color:black;
}
.center {
  display: block;
  justify-content: "center";
  width: 50%;
}
.ico{
	background-color: white;
	width: 20vw;
}
.btn-holder{
	justify-content: center;
	display: flex;
}

button{
	color: white;
    font-weight: bolder;
    font: cursive;
    background-color: #0000ffff;
    height: 600px;
    width: 1200px;
}
button:hover {
	background-color: #555;
}
#myBtn {
position: relative;
  bottom: 20px; 
  left: 200px;
  z-index: 99; 
  border: none; 
  outline: none; 
  background-color: red; 
  color: white; 
  cursor: pointer; 
  padding: 15px;
  border-radius: 10px;
  font-size: 18px; 
  width:1000px;
}

#myBtn:hover {
  background-color: #555;
}
