p {
  color: green;
  font-weight: bolder;
  text-align: justify;
}
body {
  bgcolor: black;
}
span{
	display:grid;
}
h1 {
  width:100vw;
  padding-left:30vw;
  color: white;
  position: fixed;
  background-color:#2f004e83;
}
.ico {
  background-color: white;
  width: 20vw;
}
