#center{
 display:flex;
 justify-content: center;
}
.btn-holder{
	justify-content: center;
	display: flex;
}

button{
    color: white;
    font-weight: bolder;
    background-color: #0000ffff;
    height: 10vh;
    width:100vw;
    cursor: pointer; 
}
button:hover {
	background-color: #555;
}
a:hover{
     color:grey !important;
}
.links img{
	height: 30px;
	padding:20px;
}
#links{
	display:flex;
	justify-content:center;
	align-items:center;
	color:yellow;
	
}
 
