body{
	background-color: purple;
}
h1{
	text-align:center;
	color:white;
}
.center{
	justify-content:center;
	width 10vw;
	position:relative;
}
.left{
	justify-content: left;
	width: 10vw;
	min-width:300px;
	position: relative;
	bottom: 200px;
}
.right{
	justify-content: right;
	position: relative;
	top: 100px;
	width: 50vw;
	min-width:300px;
	left:50vw;
}
.right h1{
	color:yellow;
	position:relative;
	right: 75px;
}
h2{
	color:yellow;
}
h3{
	color:yellow;
}
p{
	color:yellow;
	font-size: 25px;
}
.btn-holder{
	justify-content: center;
	display: flex;
}


button{
	color:white;
	font-weight: bolder;
	font: cursive;
	background-color: #0000ffff;
	cursor: pointer;
	height: 50px;
	width: 100vw;
}
button:hover {
	background-color: #555;
}
