:root{
	--text-color:blue;
}

body{
	background-color: #63647d;
}
h1{
	text-align:center;
	color:white;
}

.center h1{
	color:var(--text-color);
}
h2{
	color:var(--text-color);
}
h3{
	color:var(--text-color);
}
p{
	color:var(--text-color);
	font-size: 25px;
}
.btn-holder{
	justify-content: center;
	display: flex;
}


button{
	color:white;
	font-weight: bolder;
	font: cursive;
	background-color: #0000ffff;
	cursor: pointer;
	height: 50px;
	width: 100vw;
}
button:hover {
	background-color: #555;
}
.ico{
	background-color: white;
	width: 20vw;
	min-width:300px;
}

