body{
	background-color: purple;
}
.btn-holder{
	justify-content: center;
	display: flex;
}

button{
    color: white;
    font-weight: bolder;
    font: cursive;
    background-color: #0000ffff;
    height: 10vh;
    width:100vw;
    cursor: pointer; 
}
button:hover {
	background-color: #555;
}
iframe{
	width:100vw;
	height:100vh;
}
